body {
    margin: 0;
    padding: 0;
    font-family: 'Arial Black', sans-serif;
    background-color: #000;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d62828;
    padding: 10px 40px;
}

.navbar h1 {
    color: #fff;
    font-size: 28px;
    margin: 0;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
}

.navbar nav ul li a:hover,
.navbar nav ul li a.active {
    text-decoration: underline;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 80px;
    min-height: 85vh;

    background: url("assets/redcar-bg.jpg") no-repeat center right;
    background-size: cover;
    background-position: 70% center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 40%, rgba(0, 0, 0, 0.4) 80%);
    z-index: 0;
}

.hero > * {
    position: relative;
    z-index: 1;
}

.text-left {
    flex: 1;
    margin-right: 60px;
}

.text-left h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 1.3;
}

.cards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; 
    gap: 40px;
}

.card {
    background-color: #d62828;
    width: 220px;
    height: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(214, 40, 40, 0.6);
}

.card img {
    width: 180px;
    height: auto;
    object-fit: contain;
    margin-top: auto; 
    margin-bottom: 25px;
}

.card button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 0;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background-color: #fff;
    color: #000;
}

.text-right {
    flex: 1;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    max-width: 550px;
}

.text-right h3 {
    color: #fff;
    font-size: 26px;
    margin-bottom: 20px;
}

.text-right p {
    font-size: 16px;
    line-height: 1.6;
}
